.create-project.import-project
    div(ng-include="'projects/create/import/import-header.html'")

    section.import-project-from
        h1
            tg-svg(svg-icon="icon-upload")
            span(translate="PROJECT.IMPORT.TRELLO.TITLE")

        p.choose-board(translate="PROJECT.IMPORT.TRELLO.CHOOSE_BOARD")

        form.search-project-field(ng-if="vm.projects.size > 5")
            fieldset
                input(
                    ng-model="vm.searchText"
                )

                tg-svg(svg-icon="icon-search", title="{{'SEARCH.TITLE_ACTION_SEARCH' | translate}}")

        ul.projects-list
            li.project-name(
                ng-repeat="project in vm.projects | toMutable | orderBy:'name' | filter:vm.searchText track by project.id"
                ng-click="vm.selectProject(project)"
            ) {{project.name}}

        p.cancel-import
            a.button(
                ng-click="vm.onCancel()"
                href="",
                translate="COMMON.CANCEL"
            )
